

.section-login{
    color: white;
    font-weight: bold;
    height: 30em;
    background-color: var(--main-dark-green) ;
    overflow: hidden;
}

#form-login{
    font-size: medium;
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
#form-login :-moz-focusring {
     border: 1px solid white !important;
     box-shadow: 0 0 0.5px 1px rgba(255,255,255,0.84);
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }

.spa-button{
    background-color: white;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    #form-login{
        max-width: 90%;

    }

}


#liste-refuge{
    /*background-color: #928161;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.refuge-card{
    height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: 1em;
    transition: 200ms ease-in-out;

}
.refuge-card:hover{
    transform: scale(1.05) ;
    transition: 200ms cubic-bezier(.17,.84,.44,1);
}

/*          FICHE            */

.section-fiche{
    color: white;
    font-weight: bold;
    padding: 4em;
    background-color: var(--main-dark-green) ;
    
}

.fiche-container{
    padding: 4em;
    text-align: left;
}

.form-onglet{
    background-color: var(--main-beige);
}

#nav-onglet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: -1em;
}
.nav-a{
    
    padding: 1em 0.5em 0.5em 0.5em;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1em;
    transition: 200ms ease-in-out;
    color: black;

    -webkit-box-shadow: inset 25px 1px 21px -11px rgba(0,0,0,0.03); 
    box-shadow: inset 25px 1px 21px -11px rgba(0,0,0,0.03);
    

}

.nav-a:hover{
    transform: translateY(-0.4em);
    transition: 200ms cubic-bezier(.17,.84,.44,1);
    background-color: var(--main-beige);
}

.onglet{
    color: black;
    background-color: var(--main-beige);
}


a {
    text-decoration: none;
}

/****************************

 CSS LOADER
 https://loading.io/css/

 ****************************/
.lds-roller {
    display: inline-block;
    position: relative;

    right: 47%;
    left: 46%;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
