.main-view{
    /*background-color: var(--main-beige);*/
}

.flex-scroller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{
    margin: 1em;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: stretch;
}

.card:hover{
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color:black;
}
.form-container{
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;

}

@media screen and (max-width: 600px){
    .flex-scroller{
        align-items: center;
        justify-content: center;

    }
}

#plus{
    border-radius: 20px!important;
    background-color: var(--main-orange);
    border-color: var(--main-orange);
    opacity: 0.85;
    /*position: absolute;
    left: 50%;
    right: 50%;*/
    display: inline-block;
}
.add{
    color: grey;
}
.add:hover{
    color: var(--main-orange)!important;
}

.fiche-container{

    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;

}



.fiche-container img{
    max-width: 20vw;
}

.lib-info{
    border-bottom: 2px solid rgba(241, 241, 241, 0.65);
}

.row-info{
    margin-bottom: 1em;
}
