/* .nav-item{
           border: 1px grey solid;
       } */



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


/*
font-family: 'Shadows Into Light', cursive;
* { border: 1px solid red; }

*/





:root{
    --main-orange: #eb651c;
    --main-warn-orange: #eb9118;
    --main-beige: #fdf3ed;
    --main-pastel-blue: rgb(110, 138, 153);
    --main-pastel-light-brown: #928161;
    --main-dark-green: #1a8685;
}

html, body {
    height:100%;
    padding:0;
    margin:0;

}


/*
.brd-right{
    border-right: 0.5px solid rgb(200,200,200);

}
.brd-left{
    border-left: 0.5px solid rgb(200,200,200);
}
*/

body{
    overflow: scroll;
}

.nav-item:hover{
    background-color: var(--main-orange);

}

.nav-item:hover a{
    color: white!important;
    transition: 0s;
}


.logo-nav img{
    max-height: 100%;
    height: auto;
}


.section-info{
    color: white;
    font-weight: bold;
    height: 30em;
    background-color: var(--main-pastel-blue);
    overflow: hidden;
}

#fade-accueil-right{
    height: 30em ;
    width: 50%;
    position: absolute;
    right: 0;
    background-image: url("assets/img/main-page-photo.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

}
#fade-accueil-right div{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(110, 138, 153) 21%, rgba(110, 138, 153, 0) 100%) repeat scroll 0% 0%;
    height: 100%;
}


#fade-accueil-left{
    height: 30em ;
    position: absolute;
    left: 0;
    width: 50%;
    background-color: var(--main-pastel-blue);
}
.fade-accueil-container{
    width: 99%;
    position: absolute;
    padding: 4em;
    text-align: left;
    font-family: 'Amatic SC', cursive;
}
.fade-accueil-container div #title{
    font-size: xx-large;

}

.fade-accueil-container div #decription{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: large;
    line-height: 1.4;
    max-width: 50%;
}

#fade-accueil-container div > p{
    color: white;
    padding: 1em;
    vertical-align: middle;


}

.unique-font {
    font-family: 'Patrick Hand', cursive;
}

#stat{
    background-color: var(--main-beige);

}

.animals-count{
    max-width: 50%;
    margin: 0 auto;
    font-size: 3em;
    line-height: 1.63;
    padding: 4em 0 4em 0;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .animals-count{
        font-size: 2em;
    }

    .fade-accueil-container div #decription{
        font-size: small;
    }

    .fade-accueil-container div #title{
        font-size: x-large;

    }
}

.orange{
    color: var(--main-orange);
}
.footer-flex ul{
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}
html {
    scrollbar-width: none;
}
.footer-flex ul > * {
    margin-right: 60px;
}

.footer-flex ul > li > a{
    color: white;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}
